* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #333;
}
body {
  height: 100vh;
  width: 100%
}

nav {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1.6em 4em;
  box-shadow: 0 0 5px rgb(173, 172, 172);
}
.nav-toggle {
 display: none;
}

.container {
  display: flex;
}
.side-panel {
  flex-basis: 25%;
  background-color: rgb(107, 107, 107);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
  border-right: 1px solid black;
}
.admin-heading {
  color: white;
  margin-top: 0.5em;
  margin-bottom: 0.6em;
  font-size: 1.5em;
  letter-spacing: 1.5px;
  border-bottom: 4px solid white;
  padding-bottom: 3px;
}
.admin-name {
  margin: 1.5em 0;
  font-size: 1.5em;
  color: white;
}
hr {
  width: 100%;
  border: 0.7px solid rgb(85, 84, 84);
  margin-bottom: 2.5em;
}
.loan-link {
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 1.5em;
  color: white;
}
.loan-link.current {
  padding-bottom: 2px;
  border-bottom: 4px solid rgb(255, 255, 0)
}
.main-panel {
  flex-basis: 75%;
}
.main-panel__heading {
  text-align: center;
  font-weight: 700;
  font-size: 1.5em;
  margin: 1em 0;
}
/* table */
.table-wrapper {
  padding: 0 1em;
}
table {
  border-collapse: collapse;
}
table {
  /* border: 1px solid #eee; */
  width: 100%;
  max-width: 50em;
  margin: auto;
  padding: 2em;
}
th {
  text-align: left;
  font-weight: 700;
  font-size: 1.2em;
  background-color: rgb(21, 180, 82);
  color: white;
}
th, td {
  padding: 0.8em;
}
tr:nth-child(odd) {
  background-color: #eee;
}
/* modify balance, status and amount fields */
td:nth-child(4) {
  font-weight: 700;
  color: rgb(23, 180, 23);
}
td:nth-child(2) {
  font-weight: 700;
}
td:nth-child(5) {
  font-weight: 600;
  color: rgb(101, 101, 255);
}

tr:hover {
  cursor: pointer;
}
.details-link {
  display: none;
}
/*media queries*/
@media only screen and (max-width: 600px) {
  .side-panel {
    display: none;
  }
  .nav-toggle {
    display: block;
    margin-right: 1.5em;
  }
  nav {
    padding: 1.5em;
    background-color: white;
    position: fixed;
    z-index: 100;
  }
  .side-panel.responsive {
    display: flex;
    position: fixed;
    width: 80%;
    z-index: 5;
    height: 100%;
    top: 76px;
  }
  .main-panel {
    flex-basis: 100%;
    position: relative;
    top: 76px;
    z-index: 1;
  }

  /* responsive table media queries*/
  thead {
    display: none;
  }
  
  tr {
    display: block;
    margin-bottom: 1em;
    box-shadow: 0 0 4px rgb(199, 199, 199);
    padding-left: 0.7em;
  }
  td {
    display: flex;
    align-items: baseline;
    padding: 0.5em;
  }
  .table-body-wrapper {
    padding: 1em;
  }
  table {
    padding: 2em;
  }
  td:before {
    flex-basis: 40%;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.7em;
    color: rgb(139, 138, 138);
  }
  .details-link {
    display: block;
    text-decoration: none;
    margin-left: 2.5em;
    font-size: 0.9em;
    color: white;
    background-color: rgb(60, 60, 231);
    padding: 0.3em 1em;
    border-radius: 15px;
  }
  td:nth-child(1):before {content: "Client"}
  td:nth-child(2):before {content: "Amount"}
  td:nth-child(3):before {content: "Duration"}
  td:nth-child(4):before {content: "Balance"}
  td:nth-child(5):before {content: "Status"}
}