* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  color: #333;
}
body {
  height: 100%;
}

nav {
  width: 100%;
  display: flex;
  align-items: baseline;
  padding: 1.6em 4em;
  box-shadow: 0 4px 5px -5px rgb(173, 172, 172);
  position: fixed;
  background-color: white;
  z-index: 100;
}
.nav-heading a{
  text-decoration: none;
}
.nav-toggle {
 display: none;
}

.container {
  display: flex;
}
.side-panel {
  flex-basis: 25%;
  background-color: rgb(107, 107, 107);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-top: 1.5em; */
  border-right: 1px solid rgb(107, 107, 107);
  position: fixed;
  top: 5em;
  width: 25%;
}
.avatar {
  width: 10em;
  height: 10em;
  border: 1px solid rgb(189, 187, 187);
  border-radius: 50%;
  overflow: hidden;
  padding-top: 0.3em;
  margin-top: 2.5em;
}
.user-name {
  margin: 1.5em 0;
  font-size: 1.5em;
  color: white;
}
hr {
  width: 100%;
  border: 0.7px solid rgb(85, 84, 84);
  margin-bottom: 2.5em;
}
.loan-link {
  text-decoration: none;
  font-size: 1.5em;
  margin-bottom: 0.9em;
  padding-top: 0.4em;
  padding-bottom: 0.6em;
  width: 100%;
  text-align: center;
  color: white;
}
.loan-item {
  color: white;
}
.loan-item.active {
  padding-bottom: 1.6px;
  border-bottom: 4px solid rgb(255, 255, 255)
}
.loan-link:hover {
  background-color: rgb(140, 143, 140);
}

.main-panel {
  flex-basis: 75%;
  /* padding-top: 3em; */
  position: relative;
  left: 25%;
  top: 5em;
  height: 100vh;
}
.main-panel__heading {
  text-align: center;
  font-size: 2em;
  margin-top: 1em;
}
.loan-container {
  width: 100%;
  max-width: 55em;
  margin: 1.2em auto;
  padding: 0 1.5em;
}
.loan-wrapper {
  display: flex;
  box-shadow: 0 0 3px rgb(163, 161, 161);
  margin-bottom: 1em;
}
.loan-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 27%;
  border-left: 3px solid rgb(63, 63, 172);
  border-right: 1px solid rgb(204, 202, 202);
  font-size: 1.7em;
  text-align: left;
  padding: 0 1em;
  
}
.loan-date__month, .loan-date__year {
  color: rgb(141, 141, 141);
}
.loan-details {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.loan-details-row {
  display: flex;
  margin-left: 1em;
}

.loan-amount, .loan-installment, .loan-history-balance {
  flex-basis: 45%
}
.text {
  margin-bottom: 0.3em;
  color: rgb(141, 141, 141)
}
.loan-amount, .loan-installment, .loan-balance, .loan-history-balance, .loan-repaid {
  margin-bottom: 0.6em;
}
.loan-amount__number, .loan-balance__number, .loan-repaid__number {
  /* font-size: 2em; */
  font-size: 1.4em;
}
.loan-balance__number {
  color: rgb(13, 197, 13);
}
.loan-installment__number {
  font-size: 1.3em;
}

.loan-status {
  color: white;
  background-color: rgb(98, 111, 231);
  padding: 10px;
  border-radius: 10px;
}
.action {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0.6em;
}
.btn-details {
  text-decoration: none;
  margin-left: 5em;
  text-align: center;
  font-size: 0.9em;
  padding: 0.5em 1em;
  background-color: rgb(73, 73, 73);
  color: white;
}
.btn-details:hover {
  border: 1px solid rgb(73, 73, 73);
  background-color: white;
  color: #333;
}
/* loan apply */
.form-wrapper {
  width: 100%;
  max-width: 30em;
  margin: auto;
  padding: 2em;
  margin-top: 1em;
}
label {
  display: block;
  margin-bottom: 1em;
  font-size: 1.2em;
}
input {
  display: block;
  width: 100%;
  padding: 0.7em;
  margin-bottom: 2.3em;
  font-size: 1.2em;
}
.loan-apply__btn {
  border: none;
  padding: 1em 4.5em;
  font-size: 1.2em;
  background-color: rgb(75, 236, 83);
  color: white;
  margin-top: 0.5em;
}

/*media queries*/
@media only screen and (max-width: 600px) {
  .side-panel {
    display: flex;
    position: absolute;
    width: 80%;
    z-index: 100;
    left: -80%;
    transition: all 1s;
  }
  .nav-toggle {
    display: block;
    margin-right: 1.5em;
  }
  nav {
    padding: 1.5em;
  }
  .nav-heading {
    margin-left: 1.2em;
  }
  .side-panel.responsive {
    left: 0;
  }
  .main-panel {
    flex-basis: 100%;
    position: relative;
    top: 76px;
    left: 0;
    z-index: 1;
  }
  .main-panel__heading {
    font-size: 1.5em;
  }
  .loan-details {
    padding: 0.5em 0.3em;
  }
  .loan-details-row {
    flex-direction: column;
  }
  .loan-wrapper {
    display: flex;
    flex-direction: column;
  }
  .loan-date {
    flex-direction: row;
    justify-content: start;
    font-size: 1.3em;
    border: none;
    border-bottom: 1px solid #eee;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
  }
 
  .loan-date__year {
    margin-left: 1em;
  }
  .loan-amount__number, .loan-balance__number, .loan-repaid__number {
    font-size: 1.2em;
  }
  .loan-installment__number {
    font-size: 1em;
  }
  .loan-status {
    padding: 8px;
    font-size: 0.7em;
    position: absolute;
    top: 1em;
    right: 1.4em;
  }
  .btn-details {
    margin-top: 1em;
    margin-left: 0;
    font-size: 0.8em;
  }
  .loan-details-row {
    position: relative;
  }
  .action {
    display: block;
  }
}
@media only screen and (min-device-width: 600px) and (max-device-width: 1024px) {
  .side-panel {
    display: flex;
    position: fixed;
    width: 60%;
    z-index: 5;
    height: 100%;
    top: 76px;
    left: -60%;
    transition: all 1.2s;
  }
  .nav-toggle {
    display: block;
    margin-right: 1.5em;
  }
  nav {
    padding: 1.5em;
    background-color: white;
    position: fixed;
    z-index: 100;
  }
  .nav-heading {
    width: 90%;
    text-align: center;
  }
  .side-panel.responsive {
    left: 0;
  }
  .main-panel {
    flex-basis: 100%;
    position: relative;
    top: 76px;
    z-index: 1;
  }
}

@media only screen and (min-device-width: 1500px) {
  .top-container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    border: 1px solid #eee;
    background-color: white;
  }
  body {
    background-color: #eee;
  }
}